<div style="marging-left:10%; color:#5882FA" >
<h1>Ingresar números</h1>

<form method="post" action="/comprobar">
	
  	<input type="text" name="posicion1"><br>
  	<input type="text" name="posicion2"><br>
 	<input type="text" name="posicion3"><br>
 	<input type="text" name="posicion4"><br>
	<p/>
  	<input type="submit" value="comprobar">


	<h1> </h1>
</form> 

<input id='respuesta' value="<%= @@secuencia_historica.getSecuenciaIncognita %> " />
<button id="show">Mostrar respuesta</button>

<p><%= @@respuesta%></p>

</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>

<script>
	$(document).ready(function(){
	$('#respuesta').toggle('hide');       
    $('#show').click(function() {
        $('#respuesta').toggle('hide');       
    }); 
});
</script>
