<h1>Ingresar números</h1>

<form method="post" action="/comprobar">
	
  	<input type="text" name="posicion1"><br>
  	<input type="text" name="posicion2"><br>
 	<input type="text" name="posicion3"><br>
 	<input type="text" name="posicion4"><br>

  	<input type="submit" value="comprobar">
</form> 

<%= @@respuesta%>
